[submodule "emmet-vim"]
	path = emmet-vim
	url = ./vim/bundle/emmet-vim/
[submodule "nerdtree"]
	path = nerdtree
	url = ./vim/bundle/nerdtree
[submodule "nerdtree-git-plugin"]
	path = nerdtree-git-plugin
	url = ./vim/bundle/nerdtree-git-plugin/
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = ./vim/bundle/vim-colors-solarized
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = ./vim/bundle/vim-gitgutter/
[submodule "vim-instant-markdown"]
	path = vim-instant-markdown
	url = ./vim/bundle/vim-instant-markdown/
[submodule "youcompleteme"]
	path = youcompleteme
	url = ./vim/bundle/youcompleteme/
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vim/bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = https://github.com/xuyuanp/nerdtree-git-plugin
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/youcompleteme"]
	path = vim/bundle/youcompleteme
	url = https://github.com/valloric/youcompleteme
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/vim-instant-markdown"]
	path = vim/bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown
[submodule "vim/bundle/javascript-libraries-syntax.vim"]
	path = vim/bundle/javascript-libraries-syntax.vim
	url = git://https://github.com/othree/javascript-libraries-syntax.vim
[submodule "vim/bundle/vim-vue"]
	path = vim/bundle/vim-vue
	url = git://https://github.com/posva/vim-vue.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git://https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-colors-pencil"]
	path = vim/bundle/vim-colors-pencil
	url = git://https://github.com/reedes/vim-colors-pencil
